@import '~bootstrap/scss/bootstrap';

body {
  background-color: #FF9898;
  min-height: 100vh;
}

.recipe-dialogue {
  align-items: center;
  background-color: #B53737;
  border: 10px solid #ffe5e5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80vh;
  min-height: 80vh;
}

.user-dialogue {
  align-items: center;
  background-color: #B53737;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80vh;
  min-height: 5vh;
}


.hidden {
  display: none;
}
