@import '~bootstrap/scss/bootstrap';

body {
  background-color: #fff7b2;
  min-height: 100vh;
}

img {
  margin: 0 auto;
}

.main-pepper-logo {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0;
  max-width: 100%;
}

.no-recipes {
  color: #999999;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.recipe-dialogue {
  align-items: center;
  background-color: #FF9898;
  border: 10px solid #ffe5e5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80vh;
  min-height: 80vh;
}

.radio-boolean {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.user-dialogue {
  align-items: center;
  background-color: #B53737;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80vh;
  min-height: 5vh;
}


.hidden {
  display: none;
}
